@model Hospital.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.HideNavBar = true; // This hides the navigation bar
}

<style>
    /* Include your custom CSS here */
    h2 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .box {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 40px auto;
        width: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    button {
        padding: 10px 60px;
        font-size: 16px;
        background-color: #08075F;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
        float: right;
    }

        button:hover {
            background-color: #FFDE59;
            color: #08075F;
        }

    .form-group {
        margin-bottom: 20px;
    }

    input.form-control, select.form-control {
        width: 100%;
    }

    .alert-danger {
        margin-bottom: 20px;
    }
</style>

<div class="box">
    <h2>Login</h2>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    <form asp-action="OtherLogin" method="post">
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role"></label>
            <select asp-for="Role" class="form-control">
                <option value="Nurse">Nurse</option>
                <option value="Surgeon">Surgeon</option>
                <option value="Pharmacist">Pharmacist</option>
                <option value="Admin">Admin</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group text-right">
            <button type="submit" class="button">Login</button>
        </div>
<br />
</form>
<br />
</div>
