@model Hospital.Models.PatientsAdministration

@{
    ViewData["Title"] = "Admit Patient";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
        <form asp-action="NurseAdmitPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientWard" class="control-label"></label>
                <select asp-for="PatientWard" class="form-control" asp-items="ViewBag.WardName"></select>
                <span asp-validation-for="PatientWard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientBed" class="control-label"></label>
                <input asp-for="PatientBed" class="form-control" />
                <span asp-validation-for="PatientBed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAssigned" class="control-label"></label>
                <input asp-for="DateAssigned" class="form-control" />
                <span asp-validation-for="DateAssigned" class="text-danger"></span>
            </div>
        <div class="form-group button-container">
                <input type="submit" value="Admit" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div class="button-container">
    <a class="btn-link" asp-action="NurseViewAdmitPatients">View Admitted Patients</a>
</div>
