@model Hospital.Models.PatientsAdministration

@{
    ViewData["Title"] = "Admit Patient";

    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}

@if (TempData["SuccessMessage"] != null)

{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h1>@ViewData["Title"]</h1>

<div class="form-container">
    <form asp-action="NurseAdmitPatient">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PatientId" class="control-label"></label>
            <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientWard" class="control-label"></label>
            <select asp-for="PatientWard" class="form-control" asp-items="ViewBag.WardName"></select>
            <span asp-validation-for="PatientWard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientBed" class="control-label"></label>
            <input asp-for="PatientBed" class="form-control" min="1" value="1" />
            <span asp-validation-for="PatientBed" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateAssigned" class="control-label"></label>
            <input asp-for="DateAssigned" class="form-control" type="date" value="@Model.DateAssigned.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="DateAssigned" class="text-danger"></span>
        </div>
        <div class="form-group button-container">
            <input type="submit" value="Admit" class="btn btn-primary" />
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage) {
            // Display success message
            successMessage.style.display = "block";

            // Hide and redirect after 3 seconds
            setTimeout(function () {
                window.location.href = '@Url.Action("NurseAddPatientVital", new { patientId = Model.PatientId })';
            }, 3000); // Redirect after 3 seconds
        }
    });
</script>
