@model Hospital.Patients

@{
    ViewData["Title"] = "NurseAddPatients";
    Layout = "~/Views/Shared/_LayoutNurse.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h1>Add Patients</h1>

<div class="form-container">
    <form asp-action="NurseAddPatients">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PatientIDNumber" class="control-label">Patient ID Number</label>
            <input asp-for="PatientIDNumber" class="form-control" />
            <span asp-validation-for="PatientIDNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientName" class="control-label">Patient Name</label>
            <input asp-for="PatientName" class="form-control" />
            <span asp-validation-for="PatientName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientSurname" class="control-label">Patient Surname</label>
            <input asp-for="PatientSurname" class="form-control" />
            <span asp-validation-for="PatientSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientAddress" class="control-label">Patient Address</label>
            <input asp-for="PatientAddress" class="form-control" />
            <span asp-validation-for="PatientAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="PROVINCES">Province</label>
            <select class="form-control" id="province" name="PatientPROVINCES" required>
                <option value="Western Cape">Western Cape</option>
                <option value="North West">North West</option>
                <option value="Eastern Cape">Eastern Cape</option>
                <option value="Gauteng">Gauteng</option>
                <option value="Free State">Free State</option>
                <option value="Limpopo">Limpopo</option>
                <option value="Mpumalanga">Mpumalanga</option>
                <option value="Northern Cape">Northern Cape</option>
                <option value="KwaZulu-Natal">KwaZulu-Natal</option>
            </select>
        </div>
        <div class="form-group">
            <label for="TOWNS">City</label>
            <select class="form-control" id="country" name="PatientCITIES/TOWNS" required>
                <option value="Gqeberha">Gqeberha</option>
                <option value="Johannesburg">Johannesburg</option>
                <option value="Bhisho">Bhisho</option>
                <option value="Polokwane">Polokwane</option>
                <option value="Bloemfontein">Bloemfontein</option>
                <option value="Mbombela">Mbombela</option>
                <option value="Mahikeng">Mahikeng</option>
                <option value="Cape Town">Cape Town</option>
                <option value="Pietermarizburg">Pietermarizburg</option>
                <option value="Durban">Durban</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SUBURB">suburb</label>
            <select class="form-control" id="country" name="PatientSUBURB" required>
                <option value="Kamagugu">Kamagugu</option>
                <option value="Essenwood">Essenwood</option>
                <option value="Bridgemead">Bridgemead</option>
                <option value="Kenville">Kenville</option>
                <option value="Humewood">Humewood</option>
                <option value="Cato Manor">Cato Manor</option>
                <option value="Algoa Park">Algoa Park</option>
                <option value="Musgrave">Musgrave</option>
                <option value="Barberton">Barberton</option>
                <option value="Bluff">Bluff</option>
                <option value="Cotswold">Cotswold</option>
                <option value="Glenmore">Glenmore</option>
                <option value="Riverside">Riverside</option>
                <option value="Lorraine">Lorraine</option>
                <option value="Kwamashu">Kwamashu</option>
                <option value="Inanda">Inanda</option>
                <option value="Struandale">Struandale</option>
                <option value="Valencia Park">Valencia Park</option>
                <option value="Tongaat">Tongaat</option>
                <option value="Greyville">Greyville</option>
                <option value="Malabar">Malabar</option>
                <option value="Summerstrand">Summerstrand</option>
            </select>
        </div>
        <div class="form-group">
            <label for="PostalCode">Postal Code</label>
            <select class="form-control" id="PostalCode" name="PatientPostalCode" required>
                <option value="1200">1200</option>
                <option value="4001">4001</option>
                <option value="6025">6025</option>
                <option value="4051">4051</option>
                <option value="6001">6001</option>
                <option value="4091">4091</option>
                <option value="6001">6001</option>
                <option value="4001">4001</option>
                <option value="1300">1300</option>
                <option value="4052">4052</option>
                <option value="6045">6045</option>
                <option value="4001">4001</option>
                <option value="1226">1226</option>
                <option value="6070">6070</option>
                <option value="4359">4359</option>
                <option value="4309">4309</option>
                <option value="6001">6001</option>
                <option value="1201">1201</option>
                <option value="4399">4399</option>
                <option value="4001">4001</option>
                <option value="6020">6020</option>
                <option value="6001">6001</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="PatientContactNumber" class="control-label"></label>
            <input asp-for="PatientContactNumber" class="form-control" />
            <span asp-validation-for="PatientContactNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientEmailAddress" class="control-label"></label>
            <input asp-for="PatientEmailAddress" class="form-control" />
            <span asp-validation-for="PatientEmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientDateOfBirth" class="control-label"></label>
            <input asp-for="PatientDateOfBirth" class="form-control" type="date" />
            <span asp-validation-for="PatientDateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PatientGender" class="control-label"></label>
            <select asp-for="PatientGender" class="form-control">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group button-container">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="button-container">
    <a class="btn-link" asp-action="NurseViewPatients">View Patients</a>
</div>
<br />
<br />
<br />
<br />
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage) {
            // Ensure that the success message is visible
            successMessage.style.display = "block";
            console.log("Success message is visible");

            // Hide the success message after 3 seconds
            setTimeout(function () {
                successMessage.style.display = "none";
                console.log("Success message hidden");
            }, 3000); // Hide message after 3 seconds
        }
    });
</script>
