@model IEnumerable<Hospital.Models.OperatingTheatre>

@{
    ViewData["Title"] = "ViewOperatingTheatres";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    h1 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .btn-link {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
    }

        .btn-link:hover {
            background-color: #FFDE59;
        }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

    /* Adjust the column widths */
    .col-name {
        width: 80%; /* Allocate most of the space to the name column */
    }

    .col-action {
        width: 20%; /* Allocate a smaller width for the action column */
        text-align: center;
    }
</style>

<h1>View Operating Theatres</h1>

<p>
    <a class="btn-link" asp-action="AdminAddTheatres">Add Operating Theatre</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-name">
                @Html.DisplayNameFor(model => model.First().OperatingTheatreName)
            </th>
            <th class="col-action">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-name">
                    @Html.DisplayFor(modelItem => item.OperatingTheatreName)
                </td>
                <td class="col-action">
                    <a class="btn-link" asp-action="AdminEditTheatres" asp-route-id="@item.OperatingTheatreId">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>
