@model Hospital.Models.ChronicCondition

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    h1 {
        text-align: center;
        color: #08075F;
        font-weight: bold;
        text-decoration: underline;
    }

    .box {
        border: 1px solid #ccc;
        padding: 20px;
        margin: 40px auto;
        width: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }

    .btn-primary {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #08075F;
        color: white;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
        float: right;
    }

        .btn-primary:hover {
            background-color: #FFDE59;
            color: #08075F;
        }

    .input-group {
        display: flex;
        align-items: center;
    }

        .input-group input {
            flex: 1;
        }

        .input-group select {
            width: auto;
            margin-left: 10px;
        }

    .btn-link {
        background-color: #08075F;
        color: white;
        border: none;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 13px;
        float: right; /* This moves the button to the right */
        margin-top: 10px;
    }

        .btn-link:hover {
            background-color: #FFDE59;
        }

    .button-container {
        text-align: right; /* Align the button to the right */
        margin-top: 20px; /* Add some space above the button */
    }
</style>

<h1>Add Chronic Condition</h1>

<div class="box">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AdminAddChronicCondition">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Icd10Code" class="control-label">ICD-10 Code:</label>
                    <input asp-for="Icd10Code" class="form-control" />
                    <span asp-validation-for="Icd10Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Diagnosis" class="control-label">Diagnosis:</label>
                    <input asp-for="Diagnosis" class="form-control" />
                    <span asp-validation-for="Diagnosis" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Add" class="btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="button-container">
    <a class="btn-link" asp-action="AdminViewChronicConditions">View All Chronic Conditions</a>
</div>
